<nb-card>
  <nb-card-header style="text-align: center" status="warning">Country Targeting</nb-card-header>
  <nb-card-body>
    <div class="autocomplete">
      <div class="chips-input-container">
        <div id="test" class="user-chip" *ngFor="let user of userSelects">
          {{ user.label }}
          <div (click)="deleteSelects(user)" class="delete-icon-chip">&#10006;</div>
          <input name="suggestions" type="text" (keyup)="onKeyPress($event)" [(ngModel)]="userSelectsString" />
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
