<div class="header-new">Create New Ad Unit</div>

<div class="from-group">
  <div class="row justify-content-md-center">
    <div class="col-md-9">
      <nb-card>
        <nb-card-header>Name</nb-card-header>
        <nb-card-body>
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="text" name="adUnit" nbInput fullWidth id="adUnit" [(ngModel)]="adUnit" placeholder="Enter Ad Unit Name" />
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-md-9">
      <nb-card>
        <nb-card-header
          >Platform
          <nb-icon style="margin: 0 0 0 10px; font-size: 1rem; width: 15px; height: 15px" [nbTooltip]="tooltipHelper.platform" nbTooltipPlacement="right" class="nb-help"></nb-icon>
        </nb-card-header>
        <input *ngIf="platform == null" style="text-align: center" type="text" nbInput fullWidth placeholder="Please select a Platform" disabled />
        <nb-card-body>
          <div class="col-sm-12">
            <nb-radio-group [(ngModel)]="platform" name="platform">
              <nb-radio *ngFor="let platform of platforms" [value]="platform.value">
                {{ platform.label }}
              </nb-radio>
            </nb-radio-group>
            <div *ngIf="platform != null">
              <input type="appName" nbInput fullWidth [(ngModel)]="package" id="inputAppName" placeholder="Enter your application name, package name, bundle ID or numberical iTunes ID" />
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-md-9">
      <nb-card>
        <nb-card-header>Ad Type</nb-card-header>
        <nb-card-body>
          <div class="col-sm-12">
            <nb-radio-group [(ngModel)]="adType" name="adtype">
              <nb-radio *ngFor="let adType of adTypes" [value]="adType.value">
                {{ adType.label }}
              </nb-radio>
            </nb-radio-group>
          </div>
        </nb-card-body>
        <input *ngIf="adType == null" style="text-align: center" type="text" nbInput fullWidth placeholder="Please select Ad Type" disabled />
      </nb-card>
    </div>

    <div class="col-md-9" *ngIf="adType === 'Native'">
      <nb-card>
        <nb-card-header>Template</nb-card-header>
        <nb-card-body>
          <div class="col-sm-9">
            <nb-radio-group [(ngModel)]="templateSize" name="templateSize">
              <nb-radio *ngFor="let templateSize of templateSizes" [value]="templateSize.value">
                {{ templateSize.label }}
              </nb-radio>
            </nb-radio-group>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-9">
      <nb-card style="margin: 0">
        <nb-card-header style="margin-left: 50px"
          >Default Waterfall
          <nb-icon
            style="margin: 0 0 0 10px; font-size: 1rem; width: 15px; height: 15px"
            nbTooltip="Waterfall Targeting: &#013;  &#013;Device Type Targeting: All  &#013;Gender: All &#013;Age: All  &#013;Keywords: None"
            nbTooltipPlacement="right"
            class="nb-help"
            nbTooltipClass="multiline-tooltip"
          ></nb-icon
        ></nb-card-header>

        <nb-card-header *ngIf="platform !== undefined && adType !== undefined"
          >Bidder Networks<nb-icon style="margin: 0 0 0 10px; font-size: 1rem; width: 15px; height: 15px" [nbTooltip]="tooltipHelper.bidderNetwork" class="nb-help" nbTooltipPlacement="top"></nb-icon
        ></nb-card-header>
        <nb-accordion *ngIf="platform !== undefined && adType !== undefined" multi>
          <nb-accordion-item>
            <nb-accordion-item-header><nb-icon style="margin: 0 5px 0 0; font-size: 1rem; width: 15px; height: 15px" icon="checkmark" status="success"></nb-icon>AppLovin</nb-accordion-item-header>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header
              ><nb-icon style="margin: 0 5px 0 0; font-size: 1rem; width: 15px; height: 15px" icon="checkmark" status="success"></nb-icon>AppLovin Exchange</nb-accordion-item-header
            >
          </nb-accordion-item>
          <nb-accordion-item *ngFor="let bidderNetwork of getNetwork(bidderNetwork, platform, adType, 'BIDDER'); let indexBidderNetwork = index" id="bidderNetwork{{ index }}">
            <nb-accordion-item-header
              ><nb-icon style="margin: 0 5px 0 0; font-size: 1rem; width: 15px; height: 15px" *ngIf="bidderNetwork.disabled === true" icon="close-circle" status="danger"></nb-icon
              ><nb-icon style="margin: 0 5px 0 0; font-size: 1rem; width: 15px; height: 15px" *ngIf="bidderNetwork.disabled === false" icon="checkmark" status="success"></nb-icon
              >{{ bidderNetwork.ad.name }}</nb-accordion-item-header
            >
            <nb-accordion-item-body>
              <nb-checkbox (checkedChange)="toggleNetwork($event, indexBidderNetwork, bidderNetwork.ad.variable, 'BIDDER')">Status</nb-checkbox>
              <div class="checked-icon">
                <header *ngIf="bidderNetwork.appKey !== undefined">
                  {{ bidderNetwork.appKey.name
                  }}<nb-icon
                    *ngIf="bidderNetwork.appKey.tooltip !== undefined"
                    style="margin: 0 0 0 10px; font-size: 1rem; width: 15px; height: 15px"
                    [nbTooltip]="bidderNetwork.appKey.tooltip"
                    nbTooltipPlacement="right"
                    class="nb-help"
                  ></nb-icon>
                </header>
                <input
                  *ngIf="bidderNetwork.appKey !== undefined"
                  nbInput
                  id="bidderNetwork{{ indexBidderNetwork }}"
                  fullWidth
                  [(ngModel)]="package"
                  placeholder="{{ bidderNetwork.appKey.placeholder }}"
                  [disabled]="bidderNetwork.disabled"
                />

                <header *ngIf="bidderNetwork.appId !== undefined">
                  {{ bidderNetwork.appId.name }}
                  <nb-icon
                    *ngIf="bidderNetwork.appId.tooltip !== undefined"
                    style="margin: 0 0 0 10px; font-size: 1rem; width: 15px; height: 15px"
                    [nbTooltip]="bidderNetwork.appId.tooltip"
                    nbTooltipPlacement="right"
                    class="nb-help"
                  ></nb-icon>
                </header>
                <input
                  *ngIf="bidderNetwork.appId !== undefined"
                  nbInput
                  id="bidderNetwork{{ indexBidderNetwork }}"
                  fullWidth
                  [(ngModel)]="package"
                  placeholder="{{ bidderNetwork.appId.placeholder }}"
                  [disabled]="bidderNetwork.disabled"
                />

                <header *ngIf="bidderNetwork.extraParameters !== undefined">
                  {{ bidderNetwork.extraParameters.name }}
                  <nb-icon
                    *ngIf="bidderNetwork.extraParameters.tooltip !== undefined"
                    style="margin: 0 0 0 10px; font-size: 1rem; width: 15px; height: 15px"
                    [nbTooltip]="bidderNetwork.extraParameters.tooltip"
                    nbTooltipPlacement="right"
                    class="nb-help"
                  ></nb-icon>
                </header>
                <input
                  *ngIf="bidderNetwork.extraParameters !== undefined"
                  nbInput
                  id="bidderNetwork{{ indexBidderNetwork }}"
                  fullWidth
                  [(ngModel)]="package"
                  id="inputAppName"
                  placeholder="{{ bidderNetwork.extraParameters.placeholder }}"
                  [disabled]="bidderNetwork.disabled"
                />

                <header *ngIf="bidderNetwork.adUnit !== undefined">
                  {{ bidderNetwork.adUnit.name
                  }}<nb-icon
                    *ngIf="bidderNetwork.adUnit.tooltip !== undefined"
                    style="margin: 0 0 0 10px; font-size: 1rem; width: 15px; height: 15px"
                    [nbTooltip]="bidderNetwork.adUnit.tooltip"
                    nbTooltipPlacement="right"
                    class="nb-help"
                  ></nb-icon>
                </header>
                <input
                  *ngIf="bidderNetwork.adUnit !== undefined"
                  nbInput
                  id="bidderNetwork{{ indexBidderNetwork }}"
                  fullWidth
                  [(ngModel)]="package"
                  placeholder="{{ bidderNetwork.adUnit.placeholder }}"
                  [disabled]="bidderNetwork.disabled"
                />
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card>
    </div>
    <div *ngIf="platform !== undefined && adType !== undefined" class="col-md-9">
      <nb-card style="margin-top: 15px">
        <nb-card-header
          >Other Networks<nb-icon style="margin: 0 0 0 10px; font-size: 1rem; width: 15px; height: 15px" [nbTooltip]="tooltipHelper.otherNetwork" class="nb-help" nbTooltipPlacement="top"></nb-icon
        ></nb-card-header>
        <nb-accordion multi>
          <nb-accordion-item *ngFor="let network of getNetwork(otherNetwork, platform, adType, 'OTHER'); let indexNetWork = index" id="network{{ index }}">
            <nb-accordion-item-header
              ><nb-icon style="margin: 0 5px 0 0; font-size: 1rem; width: 15px; height: 15px" *ngIf="network.disabled === true" icon="close-circle" status="danger"></nb-icon
              ><nb-icon style="margin: 0 5px 0 0; font-size: 1rem; width: 15px; height: 15px" *ngIf="network.disabled === false" icon="checkmark" status="success"></nb-icon
              >{{ network.ad.name }}</nb-accordion-item-header
            >
            <nb-accordion-item-body>
              <nb-checkbox (checkedChange)="toggleNetwork($event, indexNetWork, network.ad.variable, 'OTHER')">Status</nb-checkbox>
              <div class="row show-grid">
                <div *ngIf="network.ad_network_app_id !== undefined" class="col-md-10">
                  <div class="checked-icon">
                    <header>
                      {{ network.appId.name }}
                      <nb-icon style="margin: 0 0 0 10px; font-size: 1rem; width: 15px; height: 15px" [nbTooltip]="network.appId.tooltip" nbTooltipPlacement="right" class="nb-help"></nb-icon>
                    </header>
                    <input nbInput fullWidth [(ngModel)]="lsnetworkDetails[indexNetWork].ad_network_app_id" type="text" placeholder="{{ network.appId.placeholder }}" [disabled]="network.disabled" />
                  </div>
                </div>
                <div *ngIf="network.ad_network_app_key !== undefined" class="col-md-10">
                  <div class="checked-icon">
                    <header>
                      {{ network.appKey.name
                      }}<nb-icon style="margin: 0 0 0 10px; font-size: 1rem; width: 15px; height: 15px" [nbTooltip]="network.appKey.tooltip" nbTooltipPlacement="right" class="nb-help"></nb-icon>
                    </header>
                    <input nbInput fullWidth [(ngModel)]="lsnetworkDetails[indexNetWork].ad_network_app_key" type="text" placeholder="{{ network.appKey.placeholder }}" [disabled]="network.disabled" />
                  </div>
                </div>
              </div>
              <div *ngIf="network.disabled === false" class="containner">
                <div *ngIf="network.adUnit.isShowCountryTargeting === false" class="row show-grid">
                  <div class="col-md-5" style="margin-left: 20px">
                    <header>
                      {{ network.adUnit.name }}
                      <nb-icon style="margin: 0 0 0 10px; font-size: 1rem; width: 15px; height: 15px" [nbTooltip]="network.adUnit.tooltip" nbTooltipPlacement="right" class="nb-help"></nb-icon>
                    </header>
                  </div>
                  <div class="col-md-2">
                    <header>CPM Price</header>
                  </div>
                </div>
                <div *ngFor="let index of network.ad_network_ad_units; let i = index" id="placement{{ index }}">
                  <nb-accordion-item-body>
                    <div *ngIf="network.adUnit.isShowCountryTargeting === true" class="row show-grid">
                      <div class="col-md-8">
                        <header>
                          {{ network.adUnit.name }}
                          <nb-icon style="margin: 0 0 0 10px; font-size: 1rem; width: 15px; height: 15px" [nbTooltip]="network.adUnit.tooltip" nbTooltipPlacement="right" class="nb-help"></nb-icon>
                        </header>
                        <input
                          nbInput
                          fullWidth
                          [(ngModel)]="lsnetworkDetails[indexNetWork].ad_network_ad_units[i].ad_network_ad_unit_id"
                          id="ad{{ index }}"
                          [placeholder]="network.adUnit.placeholder"
                          [disabled]="lsnetworkDetails[indexNetWork].ad_network_ad_units[i].disabled"
                        />
                      </div>
                      <div class="col-md-2" style="margin-left: 70px">
                        <header>CPM Price</header>
                        <input
                          style="width: 100px"
                          type="number"
                          nbInput
                          [(ngModel)]="lsnetworkDetails[indexNetWork].ad_network_ad_units[i].cpm"
                          placeholder="Amount"
                          [disabled]="lsnetworkDetails[indexNetWork].ad_network_ad_units[i].disabled"
                        />
                      </div>
                    </div>
                    <div *ngIf="network.adUnit.isShowCountryTargeting === false" class="row show-grid">
                      <div class="col-md-5">
                        <input
                          nbInput
                          fullWidth
                          [(ngModel)]="lsnetworkDetails[indexNetWork].ad_network_ad_units[i].ad_network_ad_unit_id"
                          id="ad{{ index }}"
                          [placeholder]="network.adUnit.placeholder"
                          [disabled]="lsnetworkDetails[indexNetWork].ad_network_ad_units[i].disabled"
                        />
                      </div>
                      <div class="col-md-2" style="margin-left: 20px">
                        <input
                          style="width: 100px"
                          type="number"
                          nbInput
                          [(ngModel)]="lsnetworkDetails[indexNetWork].ad_network_ad_units[i].cpm"
                          placeholder="Amount"
                          [disabled]="lsnetworkDetails[indexNetWork].ad_network_ad_units[i].disabled"
                        />
                      </div>
                      <div class="col-md-4">
                        <div class="btn-group" role="group" style="margin-left: 40px">
                          <button
                            *ngIf="lsnetworkDetails[indexNetWork].ad_network_ad_units[i].disabled === false"
                            type="button"
                            class="btn btn-outline-warning"
                            (click)="pausePlacement(i, indexNetWork, 'OTHER')"
                          >
                            Pause
                          </button>
                          <button
                            *ngIf="lsnetworkDetails[indexNetWork].ad_network_ad_units[i].disabled !== false"
                            type="button"
                            class="btn btn-outline-info"
                            (click)="unPausePlacement(i, indexNetWork)"
                          >
                            UnPause
                          </button>
                          <button *ngIf="network.ad_network_ad_units.length !== 1" type="button" class="btn btn-outline-danger" (click)="removePlacement(i, indexNetWork)">Remove</button>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="network.adUnit.isShowCountryTargeting === true" class="row show-grid">
                      <div class="col-md-3">
                        <header>
                          Country Targeting<nb-icon
                            style="margin: 0 0 10px; font-size: 1rem; width: 15px; height: 15px"
                            [nbTooltip]="tooltipHelper.countryTargeting"
                            class="nb-help"
                            nbTooltipPlacement="bottom"
                          ></nb-icon>
                        </header>
                        <nb-select
                          matRipple
                          style="width: 150px"
                          [(selected)]="lsnetworkDetails[indexNetWork].ad_network_ad_units[i].countries.type"
                          [disabled]="lsnetworkDetails[indexNetWork].ad_network_ad_units[i].disabled"
                        >
                          <nb-option matRipple value="INCLUDE">Include</nb-option>
                          <nb-option matRipple value="EXCLUDE">Exclude</nb-option>
                        </nb-select>
                      </div>
                      <div class="col-md-7" style="margin-top: 20px">
                        <ng-select
                          [items]="countries$ | async"
                          [multiple]="true"
                          [closeOnSelect]="false"
                          [hideSelected]="true"
                          [clearSearchOnAdd]="true"
                          bindValue="value"
                          bindLabel="label"
                          placeholder="Select Country"
                          [(ngModel)]="lsnetworkDetails[indexNetWork].ad_network_ad_units[i].countries.value"
                          [disabled]="lsnetworkDetails[indexNetWork].ad_network_ad_units[i].disabled"
                        >
                        </ng-select>
                      </div>
                    </div>
                    <div *ngIf="network.adUnit.isShowCountryTargeting === true" class="row show-grid">
                      <label style="margin: 10px 0 0 15px"
                        >Common Region Shortcuts:
                        <nb-icon
                          style="margin: 0 0 0 10px; font-size: 1rem; width: 15px; height: 15px"
                          nbTooltip="Use these shortcuts to target pre-defined common country groups."
                          nbTooltipPlacement="top"
                          class="nb-help"
                        ></nb-icon
                      ></label>

                      <div style="margin: 10px 0 0 15px">
                        <span class="country-label" (click)="onSelectCountryGroup(group.value, i, indexNetWork, 'OTHER')" *ngFor="let group of groups">{{ group.label }}</span>
                      </div>
                      <div class="col-md-4">
                        <div class="btn-group" role="group" style="margin-left: 40px">
                          <button
                            *ngIf="lsnetworkDetails[indexNetWork].ad_network_ad_units[i].disabled === false"
                            type="button"
                            class="btn btn-outline-warning"
                            (click)="pausePlacement(i, indexNetWork)"
                          >
                            Pause
                          </button>
                          <button
                            *ngIf="lsnetworkDetails[indexNetWork].ad_network_ad_units[i].disabled !== false"
                            type="button"
                            class="btn btn-outline-info"
                            (click)="unPausePlacement(i, indexNetWork, 'OTHER')"
                          >
                            UnPause
                          </button>
                          <button *ngIf="network.ad_network_ad_units.length !== 1" type="button" class="btn btn-outline-danger" (click)="removePlacement(i, indexNetWork, 'OTHER')">Remove</button>
                        </div>
                      </div>
                    </div>
                  </nb-accordion-item-body>
                </div>
              </div>
              <!-- <div *ngIf="adMob.disabled === false" class="row show-grid"> -->

              <div *ngIf="network.disabled === false" class="row show-grid">
                <div class="col-md-12" style="text-align: center">
                  <nb-icon style="margin: 0 0 0 10px; font-size: 1rem; width: 15px; height: 15px" nbTooltipPlacement="top" icon="plus-outline"></nb-icon
                  ><label (click)="addPlacement(indexNetWork, 'OTHER')">Add New Ad Unit</label>
                </div>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card>
    </div>

    <div class="col-md-9">
      <nb-card>
        <nb-card-body>
          <div class="waterfall-text">
            Frequency Capping
            <nb-icon
              style="margin: 0 0 0 10px; font-size: 1rem; width: 15px; height: 15px"
              nbTooltip="Frequency capping can be used to limit the number of ads seen by a user based on the session or the time defined."
              nbTooltipPlacement="right"
              class="nb-help"
            ></nb-icon>
          </div>

          <div class="col-sm-9">
            <nb-radio-group [(ngModel)]="isFrequencyCapping" name="frequencyCapping">
              <nb-radio *ngFor="let status of frequencyCapping" [value]="status.value">
                {{ status.label }}
              </nb-radio>
            </nb-radio-group>
          </div>
        </nb-card-body>
        <nb-card-body>
          <div class="waterfall-text">
            Bid Floor
            <nb-icon
              style="margin: 0 0 0 10px; font-size: 0.8rem; width: 10px; height: 10px"
              nbTooltip="You can use bid floors to ensure no ads are shown that would generate less than a specific CPM. This may have a negative impact on overall fill and revenue."
              nbTooltipPlacement="right"
              class="nb-help"
            ></nb-icon>
          </div>

          <div class="col-sm-9">
            <nb-radio-group [(ngModel)]="isBidFloor" name="bidfloor">
              <nb-radio *ngFor="let status of bidFloor" [value]="status.value">
                {{ status.label }}
              </nb-radio>
            </nb-radio-group>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <button type="button" (click)="onClickSubmit({adUnit, platform, adType, package, isFrequencyCapping, isBidFloor, templateSize})" class="btn btn-success" style="margin-left: 200px">Save</button>
  <button [routerLink]="'..'" type="button" class="btn btn-secondary float-right" style="margin-right: 200px">Back</button>
</div>
